/*the entire body set as a flexbox taking 100vh, 
navbar and footer take space at top and bottom (flex 0 1 auto),
and remaining space is used by main body (flex 1 1 auto)*/
body {
  display: flex;
  flex-flow: column;
  height: 100vh;
  width: 100vw;
}

/*disable scrollbar*/
body::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
}
