/*disable scrollbar*/
body::-webkit-scrollbar {
  display: none;
}

/*row container for the conversations list in the left side menu*/
#conversations-row {
  position: sticky;
  top: 60px; /*not a magic number but header's fixed height*/
}

/*heading of the conversations list*/
#conversations-header {
  height: 50px;
  border-bottom: 1px solid #f7f7f7;
}

/*the person's picture in the left side menu*/
.chatWithPicture {
  width: 80px; /*arbitrary size, not related to or linked to anywhere*/
  height: 80px;
}

/*left side menu*/
.conversationRow {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #f7f7f7;
}

.conversationRow:hover, .conversationRow:active, .conversationRow:focus {
  background-color: #f2f2f2;
}

#message-type-area i {
  color: #93918f;
  cursor: pointer;
  font-size: 22px;
}

.message {
  text-overflow: ellipsis;
}

.message-time {
  font-size: 0.7em;
}

.row.justify-content-start .text-start {
  background-color: lavender;
  border-radius: 15px 15px 15px 0;
}

.row.justify-content-end .text-start{
  background-color: aliceblue;
  border-radius: 15px 15px 0 15px;
}

#chatContainer {
  display: flex;
  flex-direction: column;
}

#chatHeader {
  flex: 0 0 auto;
  position: sticky;
  top: 60px; /*not a magic number but header's fixed height*/
}

#chatPanel {
  flex: 1 1 auto;
  overflow-y: auto;
}

#chatFooter {
  flex: 0 0 auto;
  position: sticky;
  bottom: 35px; /*not a magic number but footer's fixed height*/
}

/*remove the blue glow in-focus*/
#chatMessage:focus {
  outline: none !important;
  border: 0 !important;
  box-shadow: none !important;
}

/*the person's picture in the chat panel*/
#chatWithPicture {
  width: 50px; /*arbitrary size, not related to or linked to anywhere*/
  height: 50px;
}

#loadMoreBtn:hover, #loadMoreBtn:active, #loadMoreBtn:focus {
  background-color: white;
  color: black;
  outline: none !important;
  border: 0 !important;
  box-shadow: none !important;

}

