#profile-picture {
  position: absolute;
  width: 160px;
  transform: translate(-50%, 150px);
  z-index: 1;
}

#profile-wallpaper {
  height: 250px;
  z-index: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#age {
  margin-left: 10px;
}