.profile-picture {
  width: 180px;
  transform: translate(-50%, -30%);
}

#picture-edit-btn {
  left: calc(50% + 90px); /* x% = % of the img, + img width/2 */
  transform: translate(-50%, 50%);
}

.edit-btn {
  right: 10%;
}