/*leftside col/part of the profile page*/
#side-menu {
  max-width: 400px; /*leftside menu width is dependent on col-*, but no need to be larger than this*/
}

#main-menu {
  max-width: 800px;
}

#wallpaper {
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#profile-picture {
  width: 100px; /*can be changed*/
  height: 100px;
  margin-top: -60px; /*to have it go up and overlap with wallpaper*/
}

#profile-summary { /*come after picture and name which are floated left*/
  clear: both; /*clear float*/
}

/*container for select photos shown. each photo displayed at square size using css*/
.photo-container, .friend-photo-container {
  position: relative;
  width: 100%;
}
/*important trick to square the container whose width is variable*/
.photo-container:after, .friend-photo-container:after {
  content: ""; /*empty content placeholder*/
  padding-bottom: 100%; /*padding % is depends width, so padding bottom 100% gives a square container*/
}

/*select posted photos display on profile page*/
.photo, .friend-photo {
  position: absolute; /*taking out of the flow*/
  width: 100%; /*make the photo cover the now squared container*/
  height: 100%; 
  top: 0;
  left: 0;
  object-fit: cover; 
  object-position: center;
}

/*name shown in each friend item*/
.profile-friend-name {
  font-size: 12px; 
}

/*profile picture shown in the new post modal*/
#post-profile-picture-modal {
  width: 55px;
  height: 55px;
}

/*post text enter area in modal*/
#new-post-text, #edit-post-text {
  resize: none;
}

/*disable default BS form-control blue glow*/
#new-post-text:focus, #edit-post-text:focus {
  outline: none;
  box-shadow: none;
}

/*the profile picture shown in a post*/
.post-profile-picture {
  width: 40px;
  height: 40px;
}

/*remove the default outline of comment input control*/
.post-comment-form:focus {
  outline: none;
}

/*remove the default blue glow of bootstrap buttons*/
.btn:active, .btn:focus {
  outline: none;
  border: none;
  border-color: transparent;
  box-shadow: none;
}

/*toast for displaying errors should always come on top*/
#toast-container {
  z-index: 9999; 
}

#upload-cancel-btn-container {
  top: 5%;
  right: 5%; 
}

#photo-caption {
  resize: none;
  font-size: 0.9em;
}

/*# for modal attachments, . for on-page render attachments*/
#post-attachment img, .post-attachment img {
  display: inline;
  border-radius: 10px;
  border: 3px solid transparent;
  max-height: 100%;
  max-width: 100%;
  -webkit-user-drag: none; 
  -khtml-user-drag: none; 
  -moz-user-drag: none; 
  -o-user-drag: none; 
  cursor: pointer;
}

#post-attachment, .post-attachment {
  max-height: 600px;
  width: auto;
}

/*images CSS stylings for different photo configurations based on number of images and portrait vs landscape*/

/*1 photo*/
#post-attachment img.portrait-1-in-1-portrait, 
.post-attachment img.portrait-1-in-1-portrait {
  position: relative;
  width: 100%;
  height: auto;
  max-height: 600px; 
  object-fit: cover;
}

#post-attachment img.landscape-1-in-1-landscape, 
.post-attachment img.landscape-1-in-1-landscape {
  position: relative;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

/*2 photos*/
#post-attachment img.portrait-1-in-2-portrait, #post-attachment img.portrait-2-in-2-portrait,
.post-attachment img.portrait-1-in-2-portrait, .post-attachment img.portrait-2-in-2-portrait {
  position: relative;
  width: 50%; 
  height: 320px;
  object-fit: cover;
}

#post-attachment img.landscape-1-in-2-landscape, #post-attachment img.landscape-2-in-2-landscape,
.post-attachment img.landscape-1-in-2-landscape, .post-attachment img.landscape-2-in-2-landscape {
  position: relative;
  width: 100%;
  height: 250px;
  object-fit: cover;
}

#post-attachment img.landscape-1-in-2-mixed, #post-attachment img.landscape-2-in-2-mixed,
.post-attachment img.landscape-1-in-2-mixed, .post-attachment img.landscape-2-in-2-mixed {
  position: relative;
  width: 50%;
  height: 250px;
  object-fit: cover;
}

/*3 photos*/
#post-attachment img.portrait-1-in-3-portrait, 
.post-attachment img.portrait-1-in-3-portrait {
  position: relative;
  width: 50%;
  height: 360px;
  object-fit: cover;
}

#post-attachment img.portrait-2-in-3-portrait, #post-attachment img.portrait-3-in-3-portrait,
.post-attachment img.portrait-2-in-3-portrait, .post-attachment img.portrait-3-in-3-portrait {
  width: 50%;
  height: 180px;
  object-fit: cover;
}

#post-attachment img.portrait-2-in-3-portrait, 
.post-attachment img.portrait-2-in-3-portrait {
  position: absolute;
  top: 0%;
  right: 0%;
}

#post-attachment img.portrait-3-in-3-portrait, 
.post-attachment img.portrait-3-in-3-portrait {
  position: absolute;
  bottom: 0%;
  right: 0%;
}

#post-attachment img.landscape-1-in-3-landscape, 
.post-attachment img.landscape-1-in-3-landscape {
  position: relative;
  width: 100%;
  height: 250px;
  object-fit: cover;
}

#post-attachment img.landscape-2-in-3-landscape, #post-attachment img.landscape-3-in-3-landscape,
.post-attachment img.landscape-2-in-3-landscape, .post-attachment img.landscape-3-in-3-landscape {
  position: relative;
  width: 50%;
  height: 150px;
  object-fit: cover;
}

/*4 photos*/
#post-attachment img.portrait-1-in-4-portrait, 
.post-attachment img.portrait-1-in-4-portrait {
  position: relative;
  width: 60%;
  height: 390px;
  object-fit: cover;
}

#post-attachment img.portrait-2-in-4-portrait, #post-attachment img.portrait-3-in-4-portrait, #post-attachment img.portrait-4-in-4-portrait,
.post-attachment img.portrait-2-in-4-portrait, .post-attachment img.portrait-3-in-4-portrait, .post-attachment img.portrait-4-in-4-portrait {
  width: 40%;
  height: 130px;
  object-fit: cover;
}

#post-attachment img.portrait-2-in-4-portrait, 
.post-attachment img.portrait-2-in-4-portrait {
  position: relative;
  vertical-align: top;
}

#post-attachment img.portrait-3-in-4-portrait, 
.post-attachment img.portrait-3-in-4-portrait {
  position: absolute;
  bottom: 33.33%;
  right: 0%;
}

#post-attachment img.portrait-4-in-4-portrait, 
.post-attachment img.portrait-4-in-4-portrait {
  position: absolute;
  bottom: 0%;
  right: 0%;
}

#post-attachment img.landscape-1-in-4-landscape,
.post-attachment img.landscape-1-in-4-landscape {
  position: relative;
  width: 100%;
  height: 250px;
  object-fit: cover;
}

#post-attachment img.landscape-2-in-4-landscape, #post-attachment img.landscape-3-in-4-landscape, #post-attachment img.landscape-4-in-4-landscape,
.post-attachment img.landscape-2-in-4-landscape, .post-attachment img.landscape-3-in-4-landscape, .post-attachment img.landscape-4-in-4-landscape {
  position: relative;
  width: 33.3%;
  height: 125px;
  object-fit: cover;
}

/*5 photos*/
#post-attachment img.landscape-1-in-5-landscape, #post-attachment img.landscape-2-in-5-landscape, #post-attachment img.landscape-3-in-5-landscape, #post-attachment img.landscape-4-in-5-landscape, #post-attachment img.landscape-5-in-5-landscape,
.post-attachment img.landscape-1-in-5-landscape, .post-attachment img.landscape-2-in-5-landscape, .post-attachment img.landscape-3-in-5-landscape, .post-attachment img.landscape-4-in-5-landscape, .post-attachment img.landscape-5-in-5-landscape {
  position: relative;
  object-fit: cover;
}

#post-attachment img.landscape-1-in-5-landscape, #post-attachment img.landscape-2-in-5-landscape,
.post-attachment img.landscape-1-in-5-landscape, .post-attachment img.landscape-2-in-5-landscape {
  width: 50%;
  height: 160px;
}

#post-attachment img.landscape-3-in-5-landscape, #post-attachment img.landscape-4-in-5-landscape, #post-attachment img.landscape-5-in-5-landscape,
.post-attachment img.landscape-3-in-5-landscape, .post-attachment img.landscape-4-in-5-landscape, .post-attachment img.landscape-5-in-5-landscape {
  width: 33.3%;
  height: 120px;
}

#post-attachment img.portrait-1-in-5-portrait, #post-attachment img.portrait-2-in-5-portrait, #post-attachment img.portrait-3-in-5-portrait, #post-attachment img.portrait-4-in-5-portrait, #post-attachment img.portrait-5-in-5-portrait,
.post-attachment img.portrait-1-in-5-portrait, .post-attachment img.portrait-2-in-5-portrait, .post-attachment img.portrait-3-in-5-portrait, .post-attachment img.portrait-4-in-5-portrait, .post-attachment img.portrait-5-in-5-portrait {
  object-fit: cover;
}

#post-attachment img.portrait-1-in-5-portrait, #post-attachment img.portrait-3-in-5-portrait,
.post-attachment img.portrait-1-in-5-portrait, .post-attachment img.portrait-3-in-5-portrait {
  position: relative;
  width: 60%;
  height: 270px;
}

#post-attachment img.portrait-2-in-5-portrait, #post-attachment img.portrait-4-in-5-portrait, #post-attachment img.portrait-5-in-5-portrait,
.post-attachment img.portrait-2-in-5-portrait, .post-attachment img.portrait-4-in-5-portrait, .post-attachment img.portrait-5-in-5-portrait {
  width: 40%;
  height: 180px;
}

#post-attachment img.portrait-2-in-5-portrait,
.post-attachment img.portrait-2-in-5-portrait {
  position: relative;
  vertical-align: top;
}

#post-attachment img.portrait-3-in-5-portrait,
.post-attachment img.portrait-3-in-5-portrait {
  display: block;
}

#post-attachment img.portrait-4-in-5-portrait,
.post-attachment img.portrait-4-in-5-portrait {
  position: absolute;
  right: 0%;
  top: 33.3%;
}

#post-attachment img.portrait-5-in-5-portrait,
.post-attachment img.portrait-5-in-5-portrait {
  position: absolute;
  right: 0%;
  top: 66.6%;
}




