/*place the profile photo in middle of container*/
#profile-picture {
  position: absolute;
  width: 160px;
  transform: translate(-50%, 150px); /*tied to wallpaper height*/
  z-index: 2;
}

/*place the upload btn in container in position adjusted for profile photo position*/
#photo-upload-btn-container {
  position: absolute;
  left: calc(50% + 80px); /* 50% of img + half of img width */
  transform: translate(-50%, 215px); /*button height is appro 30px, so to position at photo middle, shift down by half the profile-pix height - half its size own height + the size of profile-pix shift */
  z-index: 3;
}

#profile-wallpaper {
  height: 250px;
  z-index: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#wallpaper-upload-btn-container {
  z-index: 1;
}

/*edit btn appears 15% on the right*/
.edit-btn {
  right: 15%;
}

/*move the edit btn up more when data are edited inline*/
.edit-inline {
  top: -40%;
}

/*remove scrollbar in textarea but allow scrolling*/
textarea {
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/*remove scrollbar in textarea*/
textarea::-webkit-scrollbar {
  display: none;
}

/*remove the focus border which is black*/
.form-control-plaintext:focus {
  outline: none;
} 

/*to replicate .form-control:focus blue glow color when in focus*/
.form-control-focus {
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, .25);
  border: 0.3px solid rgba(13, 110, 253, 0.7) !important;
  border-radius: 4px;
}

/*toast for displaying errors should always come on top*/
#toast-container {
  z-index: 9999; 
}

 



