<!--Bootstrap Toast component used for showing error or failure, used with accompanying js-->
<section class="position-absolute top-0 end-0 p-4">
  <div class="toast hide" id="toast-failure" data-bs-delay="10000">
    <div class="toast-header">
      <strong class="me-auto" id="toast-title">Oops!</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
    </div>
    <div class="toast-body text-start" id="toast-message">
      Sorry, something went wrong on our side. Please try again later.
    </div>
  </div>
</section>

<!--accompanying js-->
<script>
/*
function to assign messages and pop up a Boostrap toast alert
*/
function showToast(title = "Oops!", message = "Sorry, something went wrong on our side. Please try again later.") {

  $("#toast-title").text(title); //assign title
  $("#toast-message").text(message); //assign message 
  $("#toast-failure").toast('show'); //show the hidden toast

}
</script>