<!--Modal for Friend Request Received Confirmation-->
<div class="modal fade" id="friendRequestConfirmationModal" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="friendRequestConfirmationModalTitle"></h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body" id="friendRequestConfirmationModalBody">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary mx-2" id="friendRequestConfirmationModalRejectBtn" data-bs-dismiss="modal">Reject</button>
        <button type="button" class="btn btn-primary mx-2" id="friendRequestConfirmationModalAcceptBtn" data-bs-dismiss="modal">Accept</button>
      </div>
    </div>
  </div>
</div>
<!--modal end-->