<!--new chat, start a new row, embeds data for who the chat is with-->
<div class='row m-0 conversationRow' data-chat-with='{{chatWith}}'> 
     
  <div class='col-4'><!--photo-->
    <img src='{{picture}}' class='rounded-circle me-2 chatWithPicture' draggable="false">
  </div>

  <div class='col-8 d-flex flex-column justify-content-start align-items-start'><!--name, msg, last-->
    <div class='name h5'>{{name}}</div>
    <div class='message small'>{{message}}</div>
    <div class='message-time text-muted align-self-end mt-auto'>{{ago}}</div>
  </div>

</div> <!--close row-->