<!--accompanying CSS-->
<link rel="stylesheet" href="css/messages.css">

<!--container and row for the entire message page-->
<main class='container-fluid h-100 m-0 p-0'>
<main class='row h-100 m-0 p-0'>


  <!--start conversation list; data for which user's conversation to highlight if any-->
  <section class='col-4 m-0 p-0' id='conversations' data-highlight='{{highlight}}'> 
    <section class="row" id="conversations-row"><!--row to give this col its own height-->
      <div class="col-12">

      <div class="row m-0 p-0 d-flex flex-row align-items-end bg-white" id="conversations-header">
        <div class="col fs-5 ms-3 mb-2">Chats</div><i class="col text-end bi bi-person-plus-fill fs-4 me-2 mb-2 text-primary"></i>
      </div>
    

  