<!--template for each individual post shown in the profile page-->
    
<section class="card mt-3 border-0 shadow post" data-id="{{id}}">

  <!--post header for name, photo, date, options-->
  <section class="card-header d-flex flex-row justify-content-start align-items-center bg-white border-0">
    <!--poster's photo-->
    <img src="{{profile-picture}}" class="rounded-circle post-profile-picture" draggable="false">
    <!--poster's name and post date-->
    <div class="d-flex flex-column ms-2">  
      <div class="h6 my-0">{{firstname}} {{lastname}}</div>
      <div class="text-muted small">{{date}}</div>
    </div>
    <!--post options-->
    <div class="dropdown ms-auto">
      <button type="button" class="post-option-btn btn text-secondary" data-bs-toggle="dropdown">
        <i class="h5 bi bi-three-dots"></i>
      </button>
      <ul class="dropdown-menu">
        {{FOREACH {{options}} AS option}}
          <li><button class="dropdown-item post-option" type="button">{{option}}</button></li>
        {{ENDFOREACH}}
      </ul>
    </div>    

  </section>

  <!--post body-->
  <section class="card-body pt-1">

    {{IF !empty('{{text}}')}}<div class="post-text mb-2">{{text}}</div>{{ENDIF}}
    {{IF !empty('{{images}}')}}
      <div class="post-attachment w-100 p-0 position-relative">
      {{FOREACH {{images}} AS image {{configs}} AS config {{descriptions}} AS description}}
        <img src='{{image}}' class="{{config}}" title="{{description}}" data-bs-toggle="tooltip" draggable="false">
      {{ENDFOREACH}}
      </div>
    {{ENDIF}}
    
  </section>

  <!--post footer for like buttons, comments, emoji-->
  <section class="card-footer bg-white border-top border-0">
    <div class="mt-1 d-flex align-items-center">

    <button type="button" class="vote-btn up-btn btn fs-5 text-secondary ps-1 pe-0">
      {{IF !'{{haveAlreadyLiked}}' }}<i class="bi bi-hand-thumbs-up"></i>{{ENDIF}}
      {{IF '{{haveAlreadyLiked}}' }}<i class="bi bi-hand-thumbs-up-fill text-primary"></i>{{ENDIF}}
    </button>
    <span class="fs-6 text-muted up-stat">{{likes-stat}}</span>

    <button type="button" class="vote-btn down-btn btn fs-5 text-secondary ms-2 ps-2 pe-0">
      {{IF !'{{haveAlreadyDisliked}}' }}<i class="bi bi-hand-thumbs-down"></i>{{ENDIF}}
      {{IF '{{haveAlreadyDisliked}}' }}<i class="bi bi-hand-thumbs-down-fill text-primary"></i>{{ENDIF}}
    </button>
    <span class="fs-6 text-muted down-stat">{{dislikes-stat}}</span>

    <div class="form-control py-1 px-3 ms-3 rounded-pill flex-grow-1 flex-shrink-1 bg-light d-flex align-items-center">
      <input type="text" class="bg-transparent flex-grow-1 flex-shrink-1 text-secondary border-0 small post-comment-form" placeholder="Write a comment...">
      <button type="button" class="btn fs-5 flex-grow-0 flex-shrink-0 text-secondary p-0 pe-2">
        <i class="bi bi-emoji-smile"></i>
      </button>
    </div>

    </div>
  </section>


</section>