<!--template of a new post form in profile page-->

<!--close the leftside menu, col-->
</main>

<!--start the rightside menu-->
<main class="col-8">

<!--new post form-->
<section class="card px-4 py-2 bg-white border-0 shadow">
  <form id="new-post">

  <input type="text" class="form-control bg-light text-secondary rounded-pill mt-4" placeholder="What's on your mind, {{firstname}}?">
  <span id="new-post-photo"><button type="button" class="mt-2 btn"><i class="bi bi-camera-fill text-primary"></i><span class="fw-bold text-secondary small">  Photo</span></button></span>
  <span id="new-post-link"><button type="button" class="mt-2 btn"><i class="bi bi-share-fill text-primary"></i><span class="fw-bold text-secondary small">  Link</span></button></span>
  <span id="new-post-poll"><button type="button" class="mt-2 btn"><i class="bi bi-bar-chart-fill text-primary"></i><span class="fw-bold text-secondary small">  Poll</span></button></span>
  
  </form>
</section><!--end new post form-->