<!--template of a new post form in profile page-->


<!--new post form-->
<section class="card px-4 py-2 bg-white border-0 shadow">
  <form data-bs-toggle="modal" data-bs-target="#new-post-modal">

  <input type="text" class="form-control bg-light text-secondary rounded-pill mt-3" placeholder="What's on your mind, {{firstname}}?" disabled>
  <span><button type="button" class="mt-2 btn"><i class="bi bi-camera-fill text-primary"></i><span class="fw-bold text-secondary small">  Photo</span></button></span>
  <span><button type="button" class="mt-2 btn"><i class="bi bi-share-fill text-primary"></i><span class="fw-bold text-secondary small">  Link</span></button></span>
  <span><button type="button" class="mt-2 btn"><i class="bi bi-bar-chart-fill text-primary"></i><span class="fw-bold text-secondary small">  Poll</span></button></span>
  
  </form>
</section>
<!--end new post form-->


<!--when the post form is clicked, a modal shows up for typing-->
<!--post modal -->
<section class="modal fade" id="new-post-modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header position-relative">
        <h5 class="modal-title ms-auto me-auto">Create Post</h5>
        <button type="button" class="btn-close position-absolute end-0 translate-middle-x" data-bs-dismiss="modal"></button>
      </div>

      <section class="modal-body">
        <img src="{{profile-picture}}" class="rounded-circle" id="post-profile-picture-modal" draggable="false">
        <span class="h6 ms-1 my-0">{{firstname}} {{lastname}}</span>

        <div id="post-content">

          <textarea id="new-post-text" class="form-control mt-2 border-0" rows="4" placeholder="What's on your mind, {{firstname}}?"></textarea>
          
          <!--add post attachments like images INSIDE here-->
          <section id="post-attachment" class="d-none mt-1 mb-3 p-0 position-relative"><span class='btn btn-light rounded-circle position-absolute' id='upload-cancel-btn-container'><i class='bi bi-x-lg' id='upload-cancel-btn'></i></span></section>
          <span id="new-post-photo"><button type="button" class="btn"><i class="bi bi-camera-fill text-primary"></i><span class="fw-bold text-secondary small">  Photo</span></button></span>
          <span id="new-post-link"><button type="button" class="btn"><i class="bi bi-share-fill text-primary"></i><span class="fw-bold text-secondary small">  Link</span></button></span>
          <span id="new-post-poll"><button type="button" class="btn"><i class="bi bi-bar-chart-fill text-primary"></i><span class="fw-bold text-secondary small">  Poll</span></button></span>
 
          <!--2nd modal for adding photo captions-->
          <section class="modal fade" id="photo-caption-modal">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content w-75 mx-auto">
                <div class="modal-header">
                  <h6 class="modal-title">Add a photo caption</h6>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                  <textarea class="form-control border-0 small p-1" id="photo-caption" rows="3" placeholder="Write a caption"></textarea>
                </div>
                <div class="modal-footer border-top-0 pt-0 mt-0">
                  <button type ="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal" id="photo-caption-save-btn">Save</button>
                </div>
              </div>
            </div>
          </section>
          <!--end caption modal-->

          <!--2nd modal for information display-->
          <section class="modal fade" id="feature-unavailable-modal">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content w-75 mx-auto">
                <div class="modal-header">
                 <h6 class="modal-title">Upcoming feature</h6>
                 <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                  Stay tuned. We are working on this function.
                </div>
                <div class="modal-footer border-top-0 pt-0 mt-0">
                  <button type ="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal">Okay</button>
                </div>
              </div>
            </div>
          </section>
          <!--end info modal-->

        </div>

      </section>
      
      <!--hidden upload form for photo-->
      <form action="ajax/posts_ajax.php" method="post" enctype="multipart/form-data" class="d-none" id="photo-upload-form">
          <input type="file" name="photo-upload" id="photo-upload" accept="image/jpeg, image/png, image/gif, image/webp">
          <input type="submit" id="photo-upload-form-submit-btn">
      </form>
      <!--end of upload form-->

      <div class="modal-footer border-0">
        <button id="new-post-submit" type="button" class="w-50 ms-auto me-auto btn btn-primary disabled">Post</button>
      </div>

    </div>
  </div>
</section>
<!--end post modal-->

<!--below comes posts-->

