
<!--the signup form-->
<br><br>
<section class="container">
<div class="row justify-content-center mb-3">
  <div class="col-6 text-center"><span class="h4">Sign Up</span><div class='text-secondary'>It's quick and easy.</div></div>
</div>

<form method="post" action="index.php?reqPage=signup">

  <div class="row mb-0 justify-content-center">
    <div class="col-6">
      <input type="text" class="form-control" id="user" name="user" minlength="5" maxlength="20" pattern="[a-z0-9]{5,20}" title="username must be 5 to 20 characters long and include only lowercase letters and digits." placeholder="Pick a username" required>
    </div>
  </div>

  <div class="row mb-3 justify-content-center">
    <div class="col-6">
      <span id="availability" class="form-text" rows="1"></span>
    </div>
  </div>

  <div class="row mb-3 justify-content-center">
    <div class="col-6">
      <input type="password" class="form-control" id="password" name="password" minlength="5" maxlength="50" placeholder="Password" required>
    </div>
  </div>
  
  <div class="row mb-0 justify-content-center">
    <div class="col-6">
      <input type="password" class="form-control" id="passwordRepeat" name="passwordRepeat" minlength="5" maxlength="50" placeholder="Confirm password" required>
    </div>
  </div>

  <div class="row mb-3 justify-content-center">
    <div class="col-6">
      <span id="passwordMatched" class="form-text" rows="1"></span>
    </div>
  </div>

  <div class="row mb-0 justify-content-center">
    <div class="col-6">
      <input type="email" class="form-control" id="email" name="email" minlength="5" maxlength="50" placeholder="Email" required>
    </div>
  </div>

  <div class="row mb-3 justify-content-center">
    <div class="col-6">
      <span id="emailValidation" class="form-text" rows="1"></span>
    </div>
  </div>

  <div class="row mb-3 justify-content-center">
    <div class="col-3">
      <input type="text" class="form-control" id="firstname" name="firstname" minlength="2" maxlength="30" placeholder="First Name" required>
    </div>
    <div class="col-3">
      <input type="text" class="form-control" id="lastname" name="lastname" minlength="2" maxlength="30" placeholder="Last Name" required>
    </div>
  </div>
  
  <div class="row justify-content-center mb-3">
    <div class="col-6">
      <button type="submit" class="btn btn-primary col-12" id="signupBtn">Sign Up</button>
    </div>
  </div>

</form>
<!--end of signup form-->

<!--message to display after signup submitted, with backend providing [success, [errorCodes]]-->
  <div class="row mt-3 justify-content-center">
    <div class="col-6">
      <!--display status using Bootstrap alert-->
      
      {{IF '{{success}}'}}
      <div class="alert alert-success text-center">
        <i class="bi bi-check-circle-fill h5"></i><!--icon-->
        <span class="ms-2">Account has been successfully created.</span><!--message-->
      </div>
      {{ENDIF}}

      {{FOREACH {{errorCodes}} AS code}}

        {{IF '{{code}}' == -1}}
        <div class="alert alert-warning text-center alert-dismissible">
          <i class="bi bi-exclamation-triangle-fill h5"></i> <!--icon-->
          <span class="ms-2"> Error occurred in our system. Sorry for inconvenience.</span> <!--message-->
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button> <!--close btn-->
        </div>
        {{ENDIF}}

        {{IF '{{code}}' == 1}}
        <div class="alert alert-warning text-center alert-dismissible">
          <i class="bi bi-exclamation-triangle-fill h5"></i> <!--icon-->
          <span class="ms-2">Username should not contain any whitespace. </span> <!--message-->
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button> <!--close btn-->
        </div>
        {{ENDIF}}


        {{IF '{{code}}' == 2}}
        <div class="alert alert-warning text-center alert-dismissible">
          <i class="bi bi-exclamation-triangle-fill h5"></i> <!--icon-->
          <span class="ms-2"> Username should not contain any special characters.</span> <!--message-->
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button> <!--close btn-->
        </div>
        {{ENDIF}}

        {{IF '{{code}}' == 3}}
        <div class="alert alert-warning text-center alert-dismissible">
          <i class="bi bi-exclamation-triangle-fill h5"></i> <!--icon-->
          <span class="ms-2"> Username should not being with a number.</span> <!--message-->
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button> <!--close btn-->
        </div>
        {{ENDIF}}

        {{IF '{{code}}' == 4}}
        <div class="alert alert-warning text-center alert-dismissible">
          <i class="bi bi-exclamation-triangle-fill h5"></i> <!--icon-->
          <span class="ms-2"> Username is either too short or long.</span> <!--message-->
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button> <!--close btn-->
        </div>
        {{ENDIF}}
        
        {{IF '{{code}}' == 5}}
        <div class="alert alert-warning text-center alert-dismissible">
          <i class="bi bi-exclamation-triangle-fill h5"></i> <!--icon-->
          <span class="ms-2"> Password cannot contain whitespaces.</span> <!--message-->
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button> <!--close btn-->
        </div>
        {{ENDIF}}
        
        {{IF '{{code}}' == 6}}
        <div class="alert alert-warning text-center alert-dismissible">
          <i class="bi bi-exclamation-triangle-fill h5"></i> <!--icon-->
          <span class="ms-2"> Password contains unallowed characters.</span> <!--message-->
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button> <!--close btn-->
        </div>
        {{ENDIF}}
        
        {{IF '{{code}}' == 7}}
        <div class="alert alert-warning text-center alert-dismissible">
          <i class="bi bi-exclamation-triangle-fill h5"></i> <!--icon-->
          <span class="ms-2"> Password is either too short or long.</span> <!--message-->
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button> <!--close btn-->
        </div>
        {{ENDIF}}
        
        {{IF '{{code}}' == 8}}
        <div class="alert alert-warning text-center alert-dismissible">
          <i class="bi bi-exclamation-triangle-fill h5"></i> <!--icon-->
          <span class="ms-2"> Passwords do not match.</span> <!--message-->
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button> <!--close btn-->
        </div>
        {{ENDIF}}
        
        {{IF '{{code}}' == 9}}
        <div class="alert alert-warning text-center alert-dismissible">
          <i class="bi bi-exclamation-triangle-fill h5"></i> <!--icon-->
          <span class="ms-2"> Email address is invalid.</span> <!--message-->
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button> <!--close btn-->
        </div>
        {{ENDIF}}
        
        {{IF '{{code}}' == 10}}
        <div class="alert alert-warning text-center alert-dismissible">
          <i class="bi bi-exclamation-triangle-fill h5"></i> <!--icon-->
          <span class="ms-2"> The email address is already registered.</span> <!--message-->
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button> <!--close btn-->
        </div>
        {{ENDIF}}
        
        {{IF '{{code}}' == 11}}
        <div class="alert alert-warning text-center alert-dismissible">
          <i class="bi bi-exclamation-triangle-fill h5"></i> <!--icon-->
          <span class="ms-2"> Email address is either too short or long.</span> <!--message-->
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button> <!--close btn-->
        </div>
        {{ENDIF}}
        
        {{IF '{{code}}' == 12}}
        <div class="alert alert-warning text-center alert-dismissible">
          <i class="bi bi-exclamation-triangle-fill h5"></i> <!--icon-->
          <span class="ms-2"> Username is either too short or long.</span> <!--message-->
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button> <!--close btn-->
        </div>
        {{ENDIF}}
        
        {{IF '{{code}}' == 13}}
        <div class="alert alert-warning text-center alert-dismissible">
          <i class="bi bi-exclamation-triangle-fill h5"></i> <!--icon-->
          <span class="ms-2"> Name contains non-English letters.</span> <!--message-->
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button> <!--close btn-->
        </div>
        {{ENDIF}}

      {{ENDFOREACH}}

     
    </div>
  </div>


</section>
<!--end of signup-->

<!--accompanying script to ajax-check and validate inputs-->
<script src="js/signup.js"></script>